[submodule "deep"]
	path = deep
	url = git@github:ichiroprogrammer/deep_cpp.git
[submodule "md_gen"]
	path = md_gen
	url = git@github.com:ichiroprogrammer/md_gen
[submodule "googletest"]
	path = googletest
	url = git@github.com:google/googletest.git
[submodule "deps"]
	path = deps
	url = git@github.com:ichiroprogrammer/deps.git
